@import 'tailwindcss';

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --primary-color: #009933;
  --secondary-color: #eafaf4;
  --primary-text-color: #003333;
  --secondary-text-color: #8c8c8c;
  --primary-border-color: #bfe9d9;
  --disabled-border-color: #999999;
  --disabled-color: #e6e6e6;
  --danger-color: #e80505;
  --warning-color: #e87e05;
  --info-color: #213f91;

  --fs-page-title: 18px;
  --fs-sub-title: 16px;
  --fs-default: 14px;
  --fs-small: 12px;

  --title-font-weight: 600;
  --default-font-weight: 400;
}

html,
body {
  font-family: var(--font-family);
  font-weight: var(--default-font-weight);
}

@media (max-width: 768px) {
  :root {
    --fs-page-title: 16px;
    --fs-sub-title: 14px;
    --fs-default: 12px;
    --fs-small: 10px;
  }
}
