@import 'tailwindcss';

:root {
  --primary-color: #009933;
  --secondary-color: #eafaf4;
  --primary-text-color: #003333;
  --secondary-text-color: #8c8c8c;
  --primary-border-color: #bfe9d9;
  --disabled-border-color: #999999;
  --disabled-color: #e6e6e6;
  --danger-color: #e80505;
  --warning-color: #e87e05;
  --info-color: #213f91;

  --fs-page-title: 18px;
  --fs-sub-title: 16px;
  --fs-default: 14px;
  --fs-small: 12px;

  --title-font-weight: 600;
  --default-font-weight: 400;
}

@media (max-width: 768px) {
  :root {
    --fs-page-title: 16px;
    --fs-sub-title: 14px;
    --fs-default: 12px;
    --fs-small: 10px;
  }
}
